* {
  box-sizing: border-box;
}

body {
background-color: white;
font-family: 'Goldman', cursive;
margin: 0;
}


nav {
background-color: #001F3F;
display: flex;
position: fixed;
justify-content: flex-end;
top: 0px;
left:0px;
right: 0px;
padding: 5px;
z-index: 2;
  }

.nav-link {
  color: #39CCCC;
  text-decoration: none;
  position: relative;
  font-size: 22px;
  padding: 20px;
}

.nav-link:hover {
  color: white;
}

header {
  background-image: url("https://i.pinimg.com/originals/32/d2/a4/32d2a4001121ce419d551a38f9a35acc.png");
  background-size: cover;
   background-position: center center;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 100vh;
   position: relative;
 }

 header::after {
   content: '';
   background-color: #001F3F;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0.6;
 }

 header * {
   position: relative;
   z-index: 1;
 }

 header h1 {
   font-size: 60px;
 }

 header p {
   font-size: 35px;
 }
/*#welcome-section {
  padding-top: 0px;
  margin-top: 0px;
  display: block;
  height: 100vh;
  }
/* The height of the welcome section should be equal to the height of the viewport */

.social-background {
background-image: url("https://i.pinimg.com/originals/32/d2/a4/32d2a4001121ce419d551a38f9a35acc.png");
background-size: cover;
background-position: bottom;
color: white;
padding-bottom: 1px;
  }

  .social-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
  }

.social-list a {
  color: #39CCCC;
  font-size: 40px;
  margin: 10px;
}

.social-list a:hover {

  color: white;
  font-size: 35px;
}

  #social {
  text-align: center;
}

#social h2 {
  margin-bottom: 0;
}

footer {
  background-color: #001F3F;
  color: white;
  text-align: center;
  bottom: 0;
  padding: 22px;
}

@media screen and (max-width: 600px) {
  h1 {
    color: green;
  }
}
