* {
  box-sizing: border-box;
}

body {
background-color: white;
font-family: 'Goldman', cursive;
margin: 0;
}


nav {
background-color: #001F3F;
display: flex;
position: fixed;
justify-content: flex-end;
top: 0px;
left:0px;
right: 0px;
padding: 22px;
  }

.nav-link {
  color: #39CCCC;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  padding: 20px;
}

.nav-link:hover {
  color: white;
}

header {
  background-image: url("/home/hulchenko/Personal_Portfolio_Webpage_Project/it_background_image.jpeg");
  background-size: cover;
   background-position: center center;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 100vh;
   position: relative;
 }

 header::after {
   content: '';
   background-color: #000;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0.8;
 }

 header * {
   position: relative;
   z-index: 1;
 }

 header h1 {
   font-size: 60px;
 }

 header p {
   font-size: 35px;
 }
/*#welcome-section {
  padding-top: 0px;
  margin-top: 0px;
  display: block;
  height: 100vh;
  }
/* The height of the welcome section should be equal to the height of the viewport */
footer {
  background-color: #001F3F;
  color: white;
  text-align: center;
  padding: 22px;
}

@media screen and (max-width: 600px) {
  h1 {
    color: green;
  }
}
