nav {
position: fixed;
top: 0px;
left:0px;
  }

#welcome-section {
  padding-top: 0px;
  margin-top: 0px;
  display: block;
  height: 100vh;
  }
/* The height of the welcome section should be equal to the height of the viewport */

  h1 {
  color: red;
}

@media screen and (max-width: 600px) {
  h1 {
    color: green;
  }
}
